.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-loading {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__icon {
    width: 8rem;
    height: 8rem;
    color: var(--clr-grey-4);

    animation: spin 1s ease-out infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
