.carousel-container {
  width: 80rem;
  height: 45rem;
}

.game-details {
  width: 100%;
  height: 100vh;
  padding: 0 4rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;

    h1 {
      font-size: 5rem;
      font-weight: 800;
    }
  }

  &__content {
    width: 100%;
    height: 45rem;
    display: flex;
    gap: 3rem;
  }

  &__description {
    padding: 2rem 4rem;
    background-color: var(--clr-grey-1);
    border-radius: 2rem;
    overflow: scroll;

    h2 {
      font-size: 3.2rem;
      margin-bottom: 0.4rem;
      font-weight: 900;
      color: var(--clr-grey-6);
    }
  }
  &__para {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    color: var(--clr-grey);
  }
}

.back-button {
  font-size: 2.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  transition: color 0.3s;

  &__icon {
    width: 2.8rem;
    height: 2.8rem;
  }

  &:hover {
    color: var(--clr-red);
  }
}
