.container {
  width: 100%;
}

.carousel-container {
  width: 80rem;
  height: 45rem;
}

.game-details {
  width: 100%;

  padding: 0 4rem;

  &__content {
    width: 100%;
    height: 45rem;
    display: flex;
    gap: 3rem;
    padding: 3rem 0;
  }

  &__about {
    padding: 2rem 4rem;
    background-color: var(--clr-grey-1);
    border-radius: 2rem;
    overflow: scroll;
    flex-grow: 1;

    h2 {
      font-size: 3.2rem;
      margin-bottom: 0.4rem;
      font-weight: 900;
      color: var(--clr-grey-6);
    }
  }

  &__description {
    font-size: 1.4rem;
  }
  &__para {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    color: var(--clr-grey);
  }
}
