:root {
  // WHITE AND BLACK
  --clr-white: #fff;
  --clr-black: #000;
  --clr-bg: #080007;

  // RED
  --clr-red: #ff0000;
  --clr-red-1: #c92a2a;
  --clr-red-2: #e03131;
  --clr-red-3: #fa5252;

  // GREY
  --clr-grey: #808080;
  --clr-grey-1: #1a1a1a;
  --clr-grey-2: #343a40;
  --clr-grey-3: #495057;
  --clr-grey-4: #868e96;
  --clr-grey-5: #adb5bd;
  --clr-grey-6: #ced4da;
  --clr-grey-7: #dee2e6;
  --clr-grey-8: #e9ecef;
  --clr-grey-9: #f8f9fa;

  --clr-green: #90ee90;

  --ft-size-default: 1.6rem;
}
