@use "../../styles/partials/mixins" as *;

.add-to-cart {
  @include flex(space-between, center, inherit);

  font-size: inherit;
  font-weight: 500;
  line-height: 1;

  &__button {
    @include flex($alignIt: center);

    gap: 0.6rem;
    color: var(--clr-grey-4);
    transition: all 0.3s;

    &:hover {
      color: var(--clr-red);
    }
  }

  &__added {
    color: var(--clr-green);
    @include flex($alignIt: center);
    gap: 0.6rem;
    cursor: default;
    user-select: none;
  }
}
