.navigation {
  width: 100%;
  display: flex;
  padding: 2rem;
  align-items: center;
  gap: 3rem;

  &__logo {
    width: 3rem;
    height: 3rem;
    color: var(--clr-red);
    transition: transform 0.2s;
  }

  &__links:link,
  :visited {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    gap: 1.2rem;
    cursor: pointer;
    transition: color 0.2s;

    &:nth-last-child(2) {
      margin-left: auto;
    }

    h2 {
      font-size: 2.8rem;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 1.2;

      span {
        color: var(--clr-red);
      }
    }

    h5 {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 1px;
    }

    &:hover {
      color: var(--clr-grey-9);
    }

    // &:hover .navigation__logo {
    //   transform: scale(1.4);
    // }
  }

  &__cart-btn {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    gap: 1.2rem;
    transition: color 0.2s;

    h5 {
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 1px;
    }

    &:hover {
      color: var(--clr-grey-9);
    }
  }

  &__icons {
    width: 2rem;
    height: 2rem;
  }
}

.active {
  color: var(--clr-green);
}
