@use "../../../styles/partials/mixins" as *;

.cart {
  position: relative;
}

.cart-modal {
  max-width: 80%;
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: var(--clr-grey-1);

  animation: slidein 0.1s ease-out;

  @include flex($justCon: space-between, $flexDir: column);
}

.background {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: brightness(0.5);
  position: fixed;
  z-index: 2;
}

@keyframes slidein {
  0% {
    width: 20%;
  }
  100% {
    width: 40rem;
  }
}

.cart-header {
  @include flex($justCon: space-between);
  padding: 2rem;
  padding-bottom: 1.2rem;

  @include responsive(sm) {
    font-size: 1.4rem;
  }

  &__clear {
    font-size: 2rem;
    font-weight: 500;
  }
}

.checkout {
  @include flex($justCon: space-between, $alignIt: flex-end);
  padding: 2rem;

  p {
    font-weight: 500;
    color: var(--clr-grey-5);
  }
}

.checkout-btn {
  transition: color 0.3s;
  h3 {
    gap: 0.8rem;
    @include flex($alignIt: center);
  }
  &:hover {
    color: var(--clr-red);
  }
}

.items {
  @include flex($flexDir: column);
  gap: 1rem;
  margin-bottom: auto;
  padding: 1.2rem 1.8rem;
  overflow: auto;
}
