@use "../../../styles/partials/mixins" as *;

.cart-item {
  width: 100%;
  @include flex($justCon: space-between, $alignIt: center);
  background-color: var(--clr-grey-2);
  min-height: 6rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  gap: 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.right {
  @include flex($alignIt: center);
  gap: 1.6rem;

  p {
    color: var(--clr-grey-5);
  }
}

.close {
  @include flex($alignIt: center);

  &__icon {
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--clr-grey-1);
    border-radius: 50%;
    padding: 0.4rem;
    transition: color 0.2s;

    &:hover {
      color: var(--clr-grey-9);
    }
  }
}
